@using p5_mvc_chat.Models
@model IEnumerable<p5_mvc_chat.Models.AdminUser>
@{
    ViewBag.Title = "Home Page";
}
<ul>
    @foreach (AdminUser item in Model)
    {
        <li>@Html.DisplayFor(x => item.UserName)</li>
    }
</ul>

