@{
    ViewBag.Title = "Home Page";
}
<style>
    .head-icon {
        position: relative;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: Center;
        background-color: black;
        -ms-transform: perspective(5rem) rotatex(-15deg) rotatey(15deg) rotatex(10deg);
        -webkit-transform: perspective(5rem) rotatex(-15deg) rotatey(15deg) rotatex(10deg);
        transform: perspective(5rem) rotatex(-15deg) rotatey(15deg) rotatex(10deg);
    }

    .head-icon-sub {
        position: relative;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-left: 2px;
        text-align: Center;
        background-color: white;
        -ms-transform: perspective(10rem) rotatex(-10deg) rotatey(10deg) rotatex(10deg);
        -webkit-transform: perspective(10rem) rotatex(-10deg) rotatey(10deg) rotatex(10deg);
        transform: perspective(10rem) rotatex(-10deg) rotatey(10deg) rotatex(10deg);
    }

    .head-img {
        width: 90%;
        height: 90%;
    }

    .chat-item {
        position: relative;
        height: 40px;
        margin-top: 10px;
        line-height: 40px;
        text-align: left;
        padding-left: 55px;
        color: white;
    }

    .chat-item:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: black;
        -ms-transform: perspective(15rem) rotatex(-5deg) rotatey(-3deg);
        -webkit-transform: perspective(15rem) rotatex(-5deg) rotatey(-3deg);
        transform: perspective(15rem) rotatex(-5deg) rotatey(-3deg);
    }

    .img-list:hover,
    .img-list:active,
    .img-selected {
        width: 45px;
        height: 45px;
    }

    input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<script src="@Url.Content("~/Scripts/vue.js")"></script>
<div id="app" style="margin: auto; width: 700px;">
    <chat-list :items="items" >
    </chat-list>
    <div class="row">
        <head-img-list :imgs="imgs"></head-img-list>
        <input type="text" id="author" class="form-control" placeholder="名称" maxlength="20"/>
        <textarea class="form-control" id="msg" placeholder="内容" maxlength="45" ></textarea>
        <button class="btn btn-primary" @@click="addMsg">提交</button>
    </div>
    <footer>
        <p>&copy; 2017 - alucardlockon</p>
    </footer>
</div>

<script>
    var nowImg = "joker.jpg";
    var ChatItem = function(msg, author, usrimg) {
        this.Msg = msg;
        this.Createtime = new Date();
        this.Author = author ? author : '匿名';
        if (usrimg)
            this.Usrimg = usrimg;
    }
    ChatItem.prototype.Msg = null;
    ChatItem.prototype.Createtime = new Date();
    ChatItem.prototype.Author = null;
    ChatItem.prototype.Usrimg = "joker.jpg";
    Vue.component('chat-item',
        {
            props: ['item'],
            template: '<div class="row" :title="\'作者:\'+item.Author+\' 时间:\'+item.Createtime.toLocaleString()">' +
                '<div class="pull-left"> ' +
                '<div class="head-icon"><div class="head-icon-sub">' +
                '<img :src="\'Content/img/\'+item.Usrimg" class="head-img" ></img>' +
                '</div></div>' +
                '</div>' +
                '<div class="pull-left;" style="width:auto;margin-left:1px">' +
                '<div class="chat-item">{{ item.Msg }}</div>' +
                '</div>' +
                '</div>'
        });
    Vue.component('chat-list',
        {
            props: ['items'],
            template: '<div><chat-item v-for="item in items" v-bind:item="item"></chat-item></div>'
        });
    Vue.component('head-img-list',
        {
            props: ['imgs'],
            template:
                '<div style="margin-top:15px;margin-bottom:15px;">当前头像:<img class="img-selected" :src="nowsrc"></img>' +
                    '选择头像:<img v-for="img in imgs" class="img-list" width="30px" height="30px" :value="img" :src="\'Content/img/\'+img" ' +
                    '@@click="setImg(img)"></img></div>',
            methods: {
                setImg: function(img) {
                    window.nowImg = img;
                    this.nowsrc = 'Content/img/' + window.nowImg;
                }
            },
            data: function() {
                return {
                    nowsrc: ''
                }
            },
            created: function() {
                this.nowsrc = 'Content/img/' + window.nowImg;
            }
        });
    var v1 = new Vue({
        el: '#app',
        data: {
            items: [
                //new ChatItem("欢迎使用p5-chat")
            ],
            imgs: [
                'joker.jpg', 'skull.jpg', 'fox.jpg', 'mona.jpg', 'akechi.jpg',
                'panther.jpg', 'queen.jpg', 'navi.jpg', 'noir.jpg', 'velvetroom.jpg'
            ]
        },
        methods: {
            addMsg: function() {
                if ($('#msg').val() == '') return;
                var item=new ChatItem($('#msg').val(), $('#author').val(), nowImg)
                this.items.push(item);
                $('#msg').val('');
                window.$.post('Home/AddCommet',item,
                    function() {
                    });
            },
            refreshMsg: function() {
                var self = this;
                window.$.post('Home/GetList',{},
                    function(result) {
                        var list = JSON.parse(result);
                        self.items = [];
                        for (var i=0;i<list.length;i++) {
                            list[i].Createtime = new Date(parseInt(list[i].Createtime.replace('/Date(','').replace(')/','')));
                            self.items.push(list[i]);
                        }
                    });
            }
        },
        mounted:function() {
            var self = this;
            self.refreshMsg();
            setInterval(function(){self.refreshMsg()},1000);
        }
    });
</script>
